@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  ::-webkit-scrollbar {
    width: 100px;
    height: 10px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent !important;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #4b5563;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #374151 transparent !important;
}